
<div class="container">
    <div class="row align-items-center position-relative" style="line-height: 0.5">

        <div class="col-3 site-logo">
            <a href=@Url.Action("Index","Home")>Sloboda</a>
        </div>

        <div class="col-9  text-right">


            <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>




            <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                    <li class=@ViewBag.index><a href=@Url.Action("Index") class="nav-link">Home</a></li>
                    <li class=@ViewBag.vehicles><a href=@Url.Action("Vehicles") class="nav-link">Vehicles</a></li>
                    <li class=@ViewBag.contact><a href=@Url.Action("Contact") class="nav-link">Contact</a></li>
                    <li class=@ViewBag.add><a href=@Url.Action("AddVehicle") class="nav-link">Add</a></li>
                    <li style="color: aquamarine"><img src="~/Images/Headers/user_icon.png" alt="#" height="20" style="padding-bottom:5px" /> @ViewBag.UserName</li>
                    <li class=@ViewBag.logout><a href=@Url.Action("Index","Login") class="nav-link">Logout</a></li>
                </ul>
            </nav>
        </div>


    </div>
</div>