<div class="row justify-content-center text-center">
    <div class="col-7 text-center mb-5">
        <h2>How it works</h2>
        <p>•|• Enter the time and place, then select the car, enter the details of the trip, check the information you entered... Have a nice trip! •|•</p>
    </div>
</div>
<div class="how-it-works d-flex">
    <div class="step">
        <span class="number"><span>01</span></span>
        <span class="caption">Time &amp; Place</span>
    </div>
    <div class="step">
        <span class="number"><span>02</span></span>
        <span class="caption">Vehicle</span>
    </div>
    <div class="step">
        <span class="number"><span>03</span></span>
        <span class="caption">Details</span>
    </div>
    <div class="step">
        <span class="number"><span>04</span></span>
        <span class="caption">Checkout</span>
    </div>
    <div class="step">
        <span class="number"><span>05</span></span>
        <span class="caption">Done</span>
    </div>

</div>