<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay" style="background-image: url('/Images/Headers/ind.jpg');">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center" style="min-height: 100vh;">
                <div class="col-lg-9">
                    <h2 style="color: white; font-size: 3em;">Our Offer</h2>
                    <p class="mb-4" style="color: white; font-size: 1.5em;">Robust, reliable, and efficient agricultural machinery that supports you every step of the way, ensuring comfort and productivity in your farming operations!</p>
                </div>
            </div>
        </div>
    </div>
</div>
