@{
    Layout = "~/Views/Shared/_VehiclesLayout.cshtml";
}
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Images/Cars/img_1.jpg" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">Belarus</a></h3>
                            <div class="rating">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                            </div>
                            <div class="Price"><span>$23000</span></div>
                        </div>
                        <ul class="specs">
                            <li>
                                <span>Technic</span>
                                <span class="spec">tractor</span>
                            </li>
                            <li>
                                <span>Power</span>
                                <span class="spec">60 hp</span>
                            </li>
                            <li>
                                <span>Torque</span>
                                <span class="spec">298 Nm</span>
                            </li>

                            <li>
                                <span>Weight</span>
                                <span class="spec">3700 kg</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="/Home/contact" class="nav-link">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Images/Cars/image.jpg" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">Torum 785</a></h3>
                            <div class="rating">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                            </div>
                            <div class="Price"><span>$26000</span></div>
                        </div>
                        <ul class="specs">
                            <li>
                                <span>Technic</span>
                                <span class="spec">harvester</span>
                            </li>
                            <li>
                                <span>Power</span>
                                <span class="spec">510 hp</span>
                            </li>
                            <li>
                                <span>Torque</span>
                                <span class="spec">900 Nm</span>
                            </li>
                            <li>
                                <span>Weight</span>
                                <span class="spec">19000 kg</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="/Home/contact" class="nav-link">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Images/Cars/img_3.jpg" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">DAF TREKKER-500</a></h3>
                            <div class="rating">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                            </div>
                            <div class="Price"><span>$16000</span></div>
                        </div>
                        <ul class="specs">
                            <li>
                                <span>Technic</span>
                                <span class="spec">Truck</span>
                            </li>
                            <li>
                                <span>Power</span>
                                <span class="spec">505 hp</span>
                            </li>
                            <li>
                                <span>Torque</span>
                                <span class="spec">2550 Nm</span>
                            </li>
                            <li>
                                <span>Weight</span>
                                <span class="spec">10000 kg</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="/Home/contact" class="nav-link">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Images/Cars/image_4.jpg" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">ТИМ ТC130</a></h3>
                            <div class="rating">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                            </div>
                            <div class="Price"><span>$29000</span></div>
                        </div>
                        <ul class="specs">
                            <li>
                                <span>Technic</span>
                                <span class="spec">Tractor</span>
                            </li>
                            <li>
                                <span>Power</span>
                                <span class="spec">130 hp</span>
                            </li>
                            <li>
                                <span>Torque</span>
                                <span class="spec">400 Nm</span>
                            </li>
                            <li>
                                <span>Weight</span>
                                <span class="spec">3900 kg</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="/Home/contact" class="nav-link">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Images/Cars/image_5.jpg" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">John Deere 8000</a></h3>
                            <div class="rating">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                            </div>
                            <div class="Price"><span>$28000</span></div>
                        </div>
                        <ul class="specs">
                            <li>
                                <span>Technic</span>
                                <span class="spec">harvester</span>
                            </li>
                            <li>
                                <span>Power</span>
                                <span class="spec">521 hp</span>
                            </li>
                            <li>
                                <span>Torque</span>
                                <span class="spec">730 Nm</span>
                            </li>
                            <li>
                                <span>Weight</span>
                                <span class="spec">7000 kg</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <<a href="/Home/contact" class="nav-link">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mb-4">
                <div class="item-1">
                    <a href="#"><img src="~/Images/Cars/image_6.jpg" alt="Image" class="img-fluid"></a>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a href="#">KAMAZ-65206-68 (T5)</a></h3>
                            <div class="rating">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                            </div>
                            <div class="Price"><span>$20000</span></div>
                        </div>
                        <ul class="specs">
                            <li>
                                <span>Technic</span>
                                <span class="spec">truck</span>
                            </li>
                            <li>
                                <span>Power</span>
                                <span class="spec">346 hp</span>
                            </li>
                            <li>
                                <span>Torque</span>
                                <span class="spec">930 Nm</span>
                            </li>
                            <li>
                                <span>Weight</span>
                                <span class="spec">5600 kg</span>
                            </li>
                        </ul>
                        <div class="d-flex action">
                            <a href="/Home/contact" class="nav-link">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12">
                <span class="p-3">1</span>
                <a href="#" class="p-3">2</a>
                <a href="#" class="p-3">3</a>
                <a href="#" class="p-3">4</a>
            </div>
        </div>
    </div>
</div>